@use "../../utils/variables";


.form-input{
    width: 500px;
    height: 32px;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 16px;
    color: variables.$overwatch-orange;
    background-color: variables.$overwatch-darkBlue;
    &::placeholder {
        color: variables.$overwatch-grey;
    }
    &:focus {
        outline: none;
        border: 2px solid variables.$overwatch-orange;
    }
}