@use "../../utils/variables";

.search-button {
  border: none;
  display: inline-block;
  cursor: pointer ;
  padding: 12px 28px;
  font-size: 16px;
  background: variables.$overwatch-darkBlue;
  border-radius: 10px;
  color: variables.$overwatch-orange;
  transition: .5s ease;
  &:hover{
    background: lighten( variables.$overwatch-darkBlue, 5%);
    color:lighten(variables.$overwatch-orange,5% );
    
  }
}