@use "./utils/variables";

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("https://wallpapers.com/images/hd/overwatch-all-heroes-united-hd-dpacmg5qk3abi7qn.jpg");
  background-size: cover;
}
